*
{
    margin: 0;
    padding: 0;
}

body
{
    background: darkgreen;
    color:limegreen;
    font-family: monospace;
}

.rounded
{
    border-radius: 0px 20px 0px 20px;
    border: 1px solid limegreen;
}

.panel
{
    background-color: #004400;
    padding:10px;
}

.menu
{
    width: 300px;
    float: left;
    min-height: 200px;
    padding: 20px;
    margin: 10px;
}

.h1
{
    line-height: 0.7em;
}

.ms_image
{
    margin: 10px;
}

table
{
    width:100%;
}

hr
{
    color:limegreen;
    border: 1px solid limegreen;
}

input
{
    background-color:green;
    color:limegreen;
    border: 1px solid limegreen;
}

input[type=range]
{
    width: 100%
}