<h2>Motion Sensor</h2>
<table>
    <tr><th width="50%">State</th><td>{{turret.motion_sensor.state_string}}</td></tr>
{% if turret.motion_sensor.state > 0 %}
    <tr><th>Static count</th><td>{{turret.motion_sensor.static_count}}</td></tr>
{% endif %}
{% if turret.motion_sensor.state == 3 %}
    <tr><th width="50%">Last Motion Centre</th><td>{{'%0.2f'|format(turret.motion_sensor.center_norm[0]|float)}}, {{'%0.2f'|format(turret.motion_sensor.center_norm[1]|float)}}</td></tr>
{% endif %}
</table>
<h2>Stepper</h2>
<table>
    <tr><td width="50%"></td><th>X</th><th>Y</th></tr>
    <tr><th>Target</th><td>{{turret.stepper_x.target}}</td><td>{{turret.stepper_y.target}}</td></tr>
    <tr><th>Position</th><td>{{turret.stepper_x.pos}}</td><td>{{turret.stepper_y.pos}}</td></tr>
</table>
<h2>Gun</h2>
<table>
    <tr><th width="50%">On Target</th><td>{{"YES" if turret.gun.on_target else "NO"}}</td></tr>
    <tr><th>Friendly</th><td>{{"YES" if turret.gun.friendly else "NO"}}</td></tr>
    <tr><th>For when on Target</th><td>{{"YES" if turret.gun.fire_on_target else "NO"}}</td></tr>
    <tr><th>Firing</th><td>{{"YES" if turret.gun.firing else "NO"}}</td></tr>
</table>
<h2>Other</h2>
<table>
    <tr><th>Dummy</th><td>{{"YES" if turret.uses_dummy else "NO"}}</td></tr>
</table>